@media screen and (max-width: 800px) {
  #logo {
    width: 70%;
    padding: 15%;
    padding-bottom: 20px;
  }
  #content-wrapper {
    width: 80%;
    padding: 10%;
    padding-top: 20px;
  }
  .icon {
    width: 10%;
    height: auto;
    margin: 2%;
  }
  #instr-logo {
    display: none;
  }
  .instr {
    display: hidden;
  }
}